.quiz{
    border: 2px solid peru;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
   
}
.logo{
    width: 250px;
}
.quizbtn{
    padding: 6px;
    text-decoration: none;
    background: #bf1616c2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 30px;
}