.header{
    display: flex;
    justify-content: space-between;
    background-color: brown;
}

.title h1{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5px;
    color: #fff;
    margin-left: 20px;
}

.nav{
    padding: 5px;
    margin-top: 20px;
}

.nav a{
    text-decoration: none;
    padding: 10px;
    color:  #fff ;
    font-weight: bold;
    border-right: 1px solid #fff;
}

.nav:last-child{
    border-right: none;
}

.headerimg{
    width: fit-content;
    height: 350px ;
}

.mainbody{
    background-color: bisque;
}

.quizsection{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 900px) {
   .quizsection{
    display: inline-block;
    height: 219px;
   }
  
  }