.allquiz h4{
    text-align: left;
}

.options label{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
   
}

.optionsDesign{
    display: flex;
   
    width: 60%;
    margin: 20px;
   
    justify-content: start;
}
.optionsDesign input{
    margin-left: 20px;
    padding: 30px;
}

.allquiz button{
    border: none;
    background: none;
}