.allquiz h4{
    text-align: left;
}

.options label{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
}

.optionsDesign{
    display: flex;
    background: #ddd;
    width: 50%;
    margin: 20px;
    border: 2px solid peru;
    border-radius: 8px;
    justify-content: start;
}
.optionsDesign input{
    margin-left: 20px;
    padding: 30px;
}

.allquiz button{
    border: none;
    background: none;
}